@{
    ViewBag.Title = "Index";
}
<div class="row-cols-lg-1">&nbsp;</div>
<div class="text-center text-secondary">
    <h2> Information of Smartphone Configuration  </h2>
    <h3> Md. Iquball Hossaion (1270381) </h3>
</div>

